<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <!-- Function and parameter -->
    <p>{{screamIt welcomeMessage}}</p>

    <!-- Inject a partial -->
    {{> footer}}

</body>
</html>